<style>
    .progress {
        width: 50%;
        background: yellow;
    }

    .bar {
        height: 15px;
        width: 0;
        background: tomato;
        text-align: right;
    }
</style>
<body>

<p>
    Your Task is <span id="user-count"></span>!
</p>

<div class="status">
    {% if task_id %}
        <div class="progress">
            <div class="bar"></div>
        </div>
    {% endif %}
</div>

<button id="revoke_btn">Revoke</button>

<input id="returnBtn" type=button value="Previous Page" style="visibility:hidden; margin-top:10px;"
       onClick="history.go(-1);">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
    var poll_xhr;
    var willstop = 0;
    (function () {
        var poll = function () {
            var task_id = "{{ task_id }}";

            console.log(task_id);
            poll_xhr = $.ajax({
                url: 'poll_state',
                type: 'POST',
                data: {
                    task_id: task_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (result) {
                    console.log(result);
                    if (result.process_percent === null || result.process_percent === undefined) {
                        willstop = 1;
                        jQuery('.bar').css({'width': 100 + '%'});
                        jQuery('.bar').html(100 + '%');
                        document.getElementById("user-count").textContent = "DONE";
                        document.getElementById('returnBtn').style.visibility = 'visible';
                    } else {
                        jQuery('.bar').css({'width': result.process_percent + '%'});
                        jQuery('.bar').html(result.process_percent + '%');
                        document.getElementById("user-count").textContent = "PROCRESSING";
                    }
                    if (result.state) {
                        document.getElementById("user-count").textContent = result.state;
                    }
                }
            });
        };

        var refreshIntervalId = setInterval(function () {
            poll();
            if (willstop === 1) {
                clearInterval(refreshIntervalId);
            }
        }, 1000);

        $('#revoke_btn').click(function () {
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "{% url 'task:revoke_task' %}",
                data: {task_id: "{{ task_id }}",},
                success: function (data) {
                    alert(data.result);
                }
            });
        });
    })();
</script>
</body>
